.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  color: var(--text-color);
}

.main {
  width: 85%;
  display: flex;
}

.personal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 65%;
  border-left: 5px solid lightblue;
}

.actions {
  width: 30%;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: -5%;
  margin-top: -1%;
  margin-bottom: 3rem;
}

.contIcon {
  width: 40px;
  height: 40px;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoColor {
  background-color: #069fba;
}

.parentColor {
  background-color: #0c91cf;
}

.icon {
  width: 20px;
  height: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 94%;
  background-color: var(--info-color);
  border-radius: 2px;
  filter: drop-shadow(0px 0px 2px var(--dropshadow-color));
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  letter-spacing: 2px;
  padding: 0 2rem;
  font-weight: 900;
  background-color: var(--info-header-color);
}

.infoIn {
  padding: 1rem 2rem;
}

.table {
  width: 100%;
  border: 1px solid var(--border-cell-color);
  color: var(--text-color);
}

.table tr {
  height: 3rem;
}

.table th,
.table td {
  border: 1px solid var(--border-cell-color);
  text-align: left;
  padding-left: 0.5rem;
  box-sizing: border-box;
  width: 47%;
}

.table th {
  background-color: var(--tr-color);
}

.trash {
  padding: 0.5rem;
  background-color: rgb(223, 16, 16);
  transition: all 0.1s ease-in;
}

.trash:hover {
  background-color: rgb(169, 14, 14);
  cursor: pointer;
}

.icontr {
  width: 100%;
}
