.cont {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.main {
  width: 85%;
  z-index: 1;
  border-radius: 0.5rem;
  background-color: var(--header-color);
  filter: drop-shadow(1px 1px 1px var(--dropshadow-color));
  padding: 1rem;
  box-sizing: border-box;
}
