.listCont {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.main {
  width: 85%;
  z-index: 1;
  border-radius: 0.5rem;
  background-color: var(--header-color);
  filter: drop-shadow(1px 1px 1px var(--dropshadow-color));
  padding: 1rem;
  box-sizing: border-box;
}

.table {
  width: 100%;
  border: 1px solid var(--border-cell-color);
  color: var(--text-color);
}

.table tr:nth-child(2n) {
  background-color: var(--tr-color);
}

tr {
  height: 3rem;
}

th,
td {
  border: 1px solid var(--border-cell-color);
  text-align: left;
  padding-left: 0.5rem;
  box-sizing: border-box;
  width: 20%;
}

.table tr th {
  cursor: pointer;
}

.headerTable {
  width: 100%;
  padding: 0 0 1% 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  border: 1px solid var(--border-cell-color);
  background-color: var(--main-background-color);
  color: var(--text-color);
  width: 10rem;
  border-radius: 0.3rem;
  padding: 0.4rem 0.5rem;
  letter-spacing: 0.05rem;
}

.input:active,
.input:hover,
.input:focus {
  outline: 0;
  outline-offset: 0;
}

.butt {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: 900;
  color: white;
  background-color: #4c78dd;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.butt:hover {
  background-color: #3159b7;
}

.select {
  border-radius: 0;
  border: 1px solid var(--border-cell-color);
  color: var(--text-color);
  background-color: var(--cell-not-color);
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

th:hover {
  background-color: var(--border-cell-color);
}
