.info {
  display: flex;
  margin: 1rem 0;
}

.what {
  width: 40%;
}

.when {
  height: 1rem;
}

.input {
  width: 10rem;
  padding: 0.2rem;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}
