.attCont {
  margin-top: 7rem;
  min-height: 20rem;
  min-width: 35vw;
  background-color: var(--cell-not-color);
  border: 1px solid var(--border-cell-color);
  color: var(--text-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 5%;
  min-height: 17%;
  width: 100%;
  background-color: var(--header-color);
  border-bottom: 1px solid var(--border-cell-color);
}

.att {
  font-size: 1.3rem;
  letter-spacing: -0.1rem;
}

.select {
  border-radius: 0;
  border: 1px solid var(--border-cell-color);
  color: var(--text-color);
  background-color: var(--cell-not-color);
  padding: 0.2rem 0.5rem;
}
