.mainContent {
  opacity: 1;
  margin: 0 3%;
  width: 700px;
  animation: mainContentShow 1s;
}

.flex {
  display: flex;
}

@keyframes mainContentShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .mainContent {
    width: 90%;
  }
}
