.mainContent {
  margin: 0 3%;
  width: 40vw;
}

.flex {
  display: flex;
  margin-bottom: 10%;
  opacity: 1;
  animation: mainContentShow 1s;
}

@keyframes mainContentShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .mainContent {
    width: 90%;
  }
}
