.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 4rem;
  background-color: var(--header-color);
  filter: drop-shadow(1px 1px 1px var(--dropshadow-color));
}
