.header {
  height: 7rem;
  width: 100vw;
  padding: 0 10%;
  background-color: var(--header-sec-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.who {
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: -0.05rem;
  color: var(--text-color);
}

.photo {
  margin-right: 50px;
}
