.header {
  height: 15vh;
  width: 100vw;
  background-color: rgb(35, 34, 34);
  border-bottom: 2px solid rgb(175, 211, 243);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: white;
  font-size: 1.5rem;
}

.who {
  font-size: 1.1rem;
  color: white;
  margin-top: -1rem;
}

.flex {
  margin-left: 2rem;
}

.photo {
  margin-right: 50px;
}
