html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_slnt\,wght.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Consolas";
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(38, 38, 38);
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--main-background-color);
}

[data-theme="dark"] {
  --main-color: #253041;
  --nav-color: #1f2937;
  --nav-header-color: #232e3e;
  --header-color: #1f2937;
  --main-background-color: #19222d;
  --text-color: #dde2e9;
  --add-main-color: #232e3e;
  --dropdown-color: #253041;
  --border-color: #2a384b;
  --add-text-color: #bec8d5;
  --header-sec-color: #253041;
  --dropshadow-color: #232e3e;
  --border-cell-color: #434349;
  --cell-not-color: #253041;
  --cell-color: #1f2937;
  --cell-choosenDay-color: #526888;
  --cell-hover-color: #364458;
  --tr-color: #1d2734;
  --info-color: #2a384b;
  --info-header-color: #1f2937;
}

[data-theme="light"] {
  --main-color: #f6f7f9;
  --nav-color: #1f2937;
  --nav-header-color: #232e3e;
  --header-color: #fafbfc;
  --main-background-color: #ebeef2;
  --text-color: #334155;
  --add-main-color: #ebeef2;
  --dropdown-color: #ffffff;
  --border-color: #dfe3ea;
  --add-text-color: #334155;
  --header-sec-color: #f6f7f9;
  --dropshadow-color: #f2f3f5;
  --border-cell-color: #dddddd;
  --cell-not-color: #f6f7f9;
  --cell-color: #ebedf0;
  --cell-choosenDay-color: #d2def0;
  --cell-hover-color: #c7cdd6;
  --tr-color: #f2f2f2;
  --info-color: #ffffff;
  --info-header-color: #f6f7f9;
}
